<%= content_for(:back_button) do %>
  <%= link_to :back, class: "btn btn-outline-light rounded-circle ms-2" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
<% end %>
<div class="container">
  <div class="row">
    <% @invoice_partners.each do |invoice_partner| %>
      <% invoice = invoice_partner.invoice %>
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Origem: <%= invoice.hospital.name %></h5> 
            <p class="card-text"><strong>Valor:</strong> <%= number_to_currency(invoice.original_value) %></p>
            <p class="card-text"><strong>Status:</strong> <%= invoice.status_text %></p>
            <p class="card-text"><strong>Data de Emissão:</strong> <%= invoice.invoice_date.strftime("%d/%m/%Y") %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>