<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
  <%= link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center toggled" do %> 
    <div class="sidebar-brand-icon">
      <%= image_tag "logo_vert.jpg", class: "img-fluid" %>
    </div>
    <div class="sidebar-brand-text mx-3">
      Simplicio
    </div>
  <% end %>
  
    <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Início</span>
    <% end %>
  </li>

  <li class="nav-item active">
    <%= link_to payments_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-tasks"></i>
      <span>Pagamentos</span>
    <% end %>
  </li>

  <li class="nav-item active">
    <%= link_to notifications_path, class: "nav-link" do %>
      <i class="fas fa-envelope fa-fw"></i>
      <span>Notificações</span>
    <% end %>
  </li>
</ul>